/* 
button border grey: rgba(0,0,0,.125);
button text color: #495057;
disabled text color: color: #6c757d;
  background-color: #888888;
  border: 1 px solid #888888;
  border-radius: 5px;
   */


.slides {
  /* background-image: url(images/DNA_strands.jpg); */
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  width:90%;
}

header {
  height: 15vh;
  padding-left: 4vw;
  padding-top: 1vh;
  background-image: url(images/DNA_strands.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  color: white
}

#process {
  word-wrap: normal;
  margin-top: 3vh;
  padding-left: 1vw;
}

.process-item {
  background-color: white;
  padding: 1vh;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  box-shadow: 2px 3px #888888;
  color: #495057;
}

#enzymes img {
  width: 44%;
  display: inline;
}
.enz  {
  background-color: white;
  color: #495057;
  padding: 1vh;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6%;
  margin: 1vh;
  margin-top: 2vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 3px #888888;
}

#enzymes .pressed {
  box-shadow: none;
  border: 5px solid #007bff;;
}

#process .pressed {
  box-shadow: none;
  border: none;
  background-color: #007bff;
  color: white;
}

.blocked {
  pointer-events: none;
}

/* .disabled {
  pointer-events: none;
  color: #6c757d;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.125);
} */

#clicks {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 3vh;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;
  height: 2.5em;
  padding: 0.5em;
  font-size: 1.2em;
  position: fixed;
  bottom: 5vh;
  right: -1vw;
  z-index: 2;
}

.normal {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.warning {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}
 .instructions-header {
  height: 40vh;
  padding-left: 10vw;
  padding-top: 10vh;
  background-image: url(images/DNA_strands.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  color: white
 }

 .instructions h2 {
   padding-top: 3vh;
   padding-bottom: 3vh;
   padding-left: 10vw;
 }

 .instructions ol {
  padding-top: 3vh;
  padding-left: 10vw;
}

.instructions a, #startGame {
  box-shadow: none;
  border: none;
  background-color: #007bff;
  color: white;
  margin-left: 40vw;
  margin-top: 5vh;
}

/* canvas {
  border: 1px solid rebeccapurple;
  margin-left: 2vw;
} */

.hide {
  display: none;
}

.info {
  display: none;
  position: fixed;
  bottom: 40vh;
  right: 33vw;
  height: 13vh;
  width: 35vw;
  padding: 2vh;
  z-index: 2;
  background-color: #888888;
  color: #fff;
  text-align: center;
  border: 1px solid #888888;
  border-radius: 4px;
}

#score {
  position: fixed;
  bottom: -1vh;
  right: 1vw;
  height: 13vh;
  width: 25vw;
  padding: 2vh;
  z-index: 2;
  background-color: #888888;
  color: #fff;
  text-align: center;
  border: 1px solid #888888;
  border-radius: 4px; 
}